BullCowGame.vcxproj
Debug/BullCowGame.tlog/link.read.1.tlog
Debug/BullCowGame.tlog/link.command.1.tlog
Debug/BullCowGame.tlog/CL.write.1.tlog
Debug/BullCowGame.tlog/CL.command.1.tlog
Debug/BullCowGame.tlog/BullCowGame.lastbuildstate
BullCowGame.vcxproj.filters
Debug/vc141.idb
Debug/BullCowGame.tlog/CL.read.1.tlog
Debug/BullCowGame.tlog/link.write.1.tlog
